  <h4>
         It is not possible to describe in words how much important animals are for our ecosystem.
         They are keeping the food chain normal. If any of them go extinct the food chain gets disturbed and nature becomes polluted. 
         We need to take a step to save animals to save our planet , save earth.....

        </h4>
      <div class="content">
      <h1>SAVE ANIMALS & SAVE EARTH <br>SAVE WATER </h1> 
      <p class="par">To maintain a healthy ecological balance on this land, animals, plants and marine species are as important as humans. 
        <br> Every organism on this earth has a unique place in the food chain that contributes to the ecosystem
         in its own way. But, unfortunately today, many animals and birds are endangered. and we are trying from our side ......................................................................................................................................<br>IT'S OUR RESPONSBILITY</p>


         <button class="cn"><a href="#">more information</a></button>
  
          </div>
       
          <img src="./assets/WhatsApp Image 2023-01-16 at 8.39.50 PM.jpeg" alt="Paris" class="kiran">


          <h1 class="pyata">Let us end all types of cruelty to animals together.<br> Feed them, don't hit them. <br> Shoot them with cameras, not with guns. </h1>

<h2 class="sai">Let's Stay Connected,</h2>

    

<h3 class="vikram">We’d love to keep in touch.<br> Enter your full name and email address below and 
we’ll email you FARM weekly updates,  <br> rights news, event information, giveaways, and more.</h3>
 
   <body>
    <div class="form">
    <h2>Let's join with us</h2>
    <input type="text" name="" placeholder="Enter name Here">
    <input type="email" name="email" placeholder="Enter Email Here">
 
    <button class="cn"><a href="#">SUBMIT</a></button>





             
    <br><br><br>>

          