
    <div class="main">
      <div class="navbar">
          <div class="icon">
              <h2 class="logo">wild family</h2>
          </div>
  
          <div class="menu">
              <ul>
                  <li><a routerLink="home">HOME</a></li>
                  <li><a routerLink="about">ABOUT</a></li>
                  <li><a  routerLink="donate">DONATE</a></li>
                  <li><a routerLink="contact">CONTACT</a></li>
              </ul>
          </div> 

             
            <div class="search">
            <input type="text" name="" placeholder="Type To text">
            <a href="#"> <button class="btn">Search</button></a>
       </div>

    </div> 
      
    <br><br><br><br>

           
    <router-outlet></router-outlet>
    
      
    <footer class="footer ">
  
       
      
      <div class="copy">
          
  
          
      <h4>Copyright 2023 All Rights Reserved..</h4>
         <br><br>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  
      <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
      <a href="https://www.instagram.com/" class="fa fa-instagram"></a>
      <a href="https://www.google.com/search?" class="fa fa-google"></a>

  </div>
    </footer>